PortalPrivado.DAO/Web References/WsGetMedicos/SI_os_ObtenerMedico.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:p1="urn:clinicauandes.org:ish.pm:obtenerMedico" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" name="SI_os_ObtenerMedico" targetNamespace="urn:clinicauandes.org:ish.pm:obtenerMedico" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation />
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="OP_SI_os_ObtenerMedico" />
  <wsdl:types>
    <xsd:schema xmlns="urn:clinicauandes.org:ish.pm:obtenerMedico" targetNamespace="urn:clinicauandes.org:ish.pm:obtenerMedico" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <xsd:element name="MT_r_ObtenerMedico" type="p1:DT_r_ObtenerMedico" />
      <xsd:element name="MT_fault">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="standard" type="p1:ExchangeFaultData" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="MT_ObtenerMedico" type="p1:DT_ObtenerMedico" />
      <xsd:complexType name="DT_ObtenerMedico">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">621e43e790b811e2a29e000000527bd2</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" name="DatosMedicos">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" name="rutmed" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ExchangeFaultData">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">da86464a345c11e3a17d000000527bd2</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="faultText" type="xsd:string" />
          <xsd:element minOccurs="0" name="faultUrl" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="faultDetail" type="p1:ExchangeLogData" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DT_r_ObtenerMedico">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">6f62243490b811e28142000000527bd2</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="DatosMedicos">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">26f3c8073e3b11e2947f54c2f29d8623</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" name="runmed" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">26f356833e3b11e2bf9b54c2f29d8623</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="id_medico" type="xsd:string" />
                <xsd:element minOccurs="0" name="nommed" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">26f356843e3b11e2804354c2f29d8623</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="apemed" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">26f356853e3b11e2c0f854c2f29d8623</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="fecnac" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">26f356863e3b11e287d254c2f29d8623</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="genero" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">26f356873e3b11e2bbe054c2f29d8623</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element minOccurs="0" name="Errores" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">f57ccb0b550511e2bed854c2f29d8623</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ExchangeLogData">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">da8b177a345c11e3ca4c000000527bd2</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" name="severity" type="xsd:string" />
          <xsd:element name="text" type="xsd:string" />
          <xsd:element minOccurs="0" name="url" type="xsd:string" />
          <xsd:element minOccurs="0" name="id" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MT_ObtenerMedico">
    <wsdl:documentation />
    <wsdl:part name="MT_ObtenerMedico" element="p1:MT_ObtenerMedico" />
  </wsdl:message>
  <wsdl:message name="MT_r_ObtenerMedico">
    <wsdl:documentation />
    <wsdl:part name="MT_r_ObtenerMedico" element="p1:MT_r_ObtenerMedico" />
  </wsdl:message>
  <wsdl:message name="MT_fault">
    <wsdl:documentation />
    <wsdl:part name="MT_fault" element="p1:MT_fault" />
  </wsdl:message>
  <wsdl:portType name="SI_os_ObtenerMedico">
    <wsdl:documentation />
    <wsdl:operation name="SI_os_ObtenerMedico">
      <wsdl:documentation />
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_SI_os_ObtenerMedico" />
      </wsp:Policy>
      <wsdl:input message="p1:MT_ObtenerMedico" />
      <wsdl:output message="p1:MT_r_ObtenerMedico" />
      <wsdl:fault name="MT_fault" message="p1:MT_fault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SI_os_ObtenerMedicoBinding" type="p1:SI_os_ObtenerMedico">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="SI_os_ObtenerMedico">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
      <wsdl:fault name="MT_fault">
        <fault use="literal" name="MT_fault" namespace="" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SI_os_ObtenerMedicoService">
    <wsdl:port name="HTTP_Port" binding="p1:SI_os_ObtenerMedicoBinding">
      <address location="http://qcpiqqas.clinicauandes.cl:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_PORTAL_WEB_115&amp;receiverParty=&amp;receiverService=&amp;interface=SI_os_ObtenerMedico&amp;interfaceNamespace=urn%3Aclinicauandes.org%3Aish.pm%3AobtenerMedico" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
    <wsdl:port name="HTTPS_Port" binding="p1:SI_os_ObtenerMedicoBinding">
      <address location="https://qcpiqqas.clinicauandes.cl:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_PORTAL_WEB_115&amp;receiverParty=&amp;receiverService=&amp;interface=SI_os_ObtenerMedico&amp;interfaceNamespace=urn%3Aclinicauandes.org%3Aish.pm%3AobtenerMedico" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>