PortalPrivado.DAO/Web References/WsReserva/SI_ReservaCita_os.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:p1="urn:clinicauandes.org:ish.pm:reservacita" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" name="SI_ReservaCita_os" targetNamespace="urn:clinicauandes.org:ish.pm:reservacita" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation />
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="OP_SI_ReservaCita_os" />
  <wsdl:types>
    <xsd:schema xmlns="urn:clinicauandes.org:ish.pm:reservacita" targetNamespace="urn:clinicauandes.org:ish.pm:reservacita" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="MT_ReservaCita" type="p1:DT_ReservaCita" />
      <xsd:element name="MT_r_ReservaCita" type="p1:DT_r_ReservaCita" />
      <xsd:element name="MT_fault">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="standard" type="p1:ExchangeFaultData" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="DT_ReservaCita">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">c5f0e0728c1e11e2939f000000527bd2</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="rutsol" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">138340ad8c1f11e2bc6454c2f29d8623</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="nompac" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">138340ae8c1f11e2ad0654c2f29d8623</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="apepatpac" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">138340af8c1f11e2cd6e54c2f29d8623</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="telefono" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">138340b08c1f11e2c63d54c2f29d8623</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="mail" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">138340b18c1f11e2a39d54c2f29d8623</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="rutpac" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">138340b28c1f11e2c8a754c2f29d8623</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="fecreserva" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">138340b38c1f11e2cd2154c2f29d8623</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="horareserva" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">138340b48c1f11e2938c54c2f29d8623</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="codorigen" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">138340b58c1f11e2ceee54c2f29d8623</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="medico" type="xsd:string" />
          <xsd:element name="utratamiento" type="xsd:string" />
          <xsd:element name="especialidad" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DT_r_ReservaCita">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">ffdf9d327c3611e29922000000527bd2</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="codreserva" type="xsd:string" />
          <xsd:element name="fechacita" type="xsd:string" />
          <xsd:element name="horacita" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ExchangeFaultData">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">abca06d7e29611e28818000000527bd2</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="faultText" type="xsd:string" />
          <xsd:element minOccurs="0" name="faultUrl" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="faultDetail" type="p1:ExchangeLogData" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ExchangeLogData">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">abfc2721e29611e29ec6000000527bd2</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" name="severity" type="xsd:string" />
          <xsd:element name="text" type="xsd:string" />
          <xsd:element minOccurs="0" name="url" type="xsd:string" />
          <xsd:element minOccurs="0" name="id" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MT_ReservaCita">
    <wsdl:documentation />
    <wsdl:part name="MT_ReservaCita" element="p1:MT_ReservaCita" />
  </wsdl:message>
  <wsdl:message name="MT_r_ReservaCita">
    <wsdl:documentation />
    <wsdl:part name="MT_r_ReservaCita" element="p1:MT_r_ReservaCita" />
  </wsdl:message>
  <wsdl:message name="MT_fault">
    <wsdl:documentation />
    <wsdl:part name="MT_fault" element="p1:MT_fault" />
  </wsdl:message>
  <wsdl:portType name="SI_ReservaCita_os">
    <wsdl:documentation />
    <wsdl:operation name="SI_ReservaCita_os">
      <wsdl:documentation />
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_SI_ReservaCita_os" />
      </wsp:Policy>
      <wsdl:input message="p1:MT_ReservaCita" />
      <wsdl:output message="p1:MT_r_ReservaCita" />
      <wsdl:fault name="MT_fault" message="p1:MT_fault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SI_ReservaCita_osBinding" type="p1:SI_ReservaCita_os">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="SI_ReservaCita_os">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
      <wsdl:fault name="MT_fault">
        <fault use="literal" name="MT_fault" namespace="" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SI_ReservaCita_osService">
    <wsdl:port name="HTTP_Port" binding="p1:SI_ReservaCita_osBinding">
      <address location="http://dcpiddev.clinicauandes.cl:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_PORTAL_WEB_115&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ReservaCita_os&amp;interfaceNamespace=urn%3Aclinicauandes.org%3Aish.pm%3Areservacita" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
    <wsdl:port name="HTTPS_Port" binding="p1:SI_ReservaCita_osBinding">
      <address location="https://dcpiddev.clinicauandes.cl:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_PORTAL_WEB_115&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ReservaCita_os&amp;interfaceNamespace=urn%3Aclinicauandes.org%3Aish.pm%3Areservacita" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>