PortalPrivado.DAO/Web References/WsGetEspecialidad/Si_os_GetEspecialidad.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:p2="urn:clinicauandes.org:ish.pm:obtenerespecialidad" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:p1="urn:Clinicauandes.org.ish.GetEspecialidades" name="Si_os_GetEspecialidad" targetNamespace="urn:Clinicauandes.org.ish.GetEspecialidades" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation />
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="OP_Si_os_GetEspecialidad" />
  <wsdl:types>
    <xsd:schema xmlns="urn:Clinicauandes.org.ish.GetEspecialidades" targetNamespace="urn:Clinicauandes.org.ish.GetEspecialidades" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="MT_r_GetEspecialidad" type="p1:DT_r_GetEspecialidades" />
      <xsd:element name="MT_GetEspecialidad" type="p1:DT_GetEspecialidades" />
      <xsd:complexType name="ExchangeLogData">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">749dd93db93d11e98948000000527bd2</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" name="severity" type="xsd:string" />
          <xsd:element name="text" type="xsd:string" />
          <xsd:element minOccurs="0" name="url" type="xsd:string" />
          <xsd:element minOccurs="0" name="id" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ExchangeFaultData">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">7f647257b93d11e9ccaa000000527bd2</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="faultText" type="xsd:string" />
          <xsd:element minOccurs="0" name="faultUrl" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="faultDetail" type="p1:ExchangeLogData" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DT_GetEspecialidades">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">05f70e38b93e11e9be8a000000527bd2</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" name="CodEspecialidad" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DT_r_GetEspecialidades">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">c331a460b94111e98b3c000000527bd2</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="Especialidades">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">c25e947ab94111e980cc54f5529f6a12</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" name="CodEspecialidad" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">c25e9478b94111e9a7d654f5529f6a12</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="Glosa" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">c25e9479b94111e9c4af54f5529f6a12</xsd:appinfo>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="FlagSub" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="urn:clinicauandes.org:ish.pm:obtenerespecialidad" targetNamespace="urn:clinicauandes.org:ish.pm:obtenerespecialidad" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="urn:Clinicauandes.org.ish.GetEspecialidades" />
      <xsd:element name="MT_fault">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="standard" type="p1:ExchangeFaultData" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MT_GetEspecialidad">
    <wsdl:documentation />
    <wsdl:part name="MT_GetEspecialidad" element="p1:MT_GetEspecialidad" />
  </wsdl:message>
  <wsdl:message name="MT_r_GetEspecialidad">
    <wsdl:documentation />
    <wsdl:part name="MT_r_GetEspecialidad" element="p1:MT_r_GetEspecialidad" />
  </wsdl:message>
  <wsdl:message name="MT_fault">
    <wsdl:documentation />
    <wsdl:part name="MT_fault" element="p2:MT_fault" />
  </wsdl:message>
  <wsdl:portType name="Si_os_GetEspecialidad">
    <wsdl:documentation />
    <wsdl:operation name="Si_os_GetEspecialidad">
      <wsdl:documentation />
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_Si_os_GetEspecialidad" />
      </wsp:Policy>
      <wsdl:input message="p1:MT_GetEspecialidad" />
      <wsdl:output message="p1:MT_r_GetEspecialidad" />
      <wsdl:fault name="MT_fault" message="p1:MT_fault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Si_os_GetEspecialidadBinding" type="p1:Si_os_GetEspecialidad">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="Si_os_GetEspecialidad">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
      <wsdl:fault name="MT_fault">
        <fault use="literal" name="MT_fault" namespace="" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Si_os_GetEspecialidadService">
    <wsdl:port name="HTTP_Port" binding="p1:Si_os_GetEspecialidadBinding">
      <address location="http://dcpiddev.clinicauandes.cl:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_PORTAL_WEB_115&amp;receiverParty=&amp;receiverService=&amp;interface=Si_os_GetEspecialidad&amp;interfaceNamespace=urn%3AClinicauandes.org.ish.GetEspecialidades" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
    <wsdl:port name="HTTPS_Port" binding="p1:Si_os_GetEspecialidadBinding">
      <address location="https://dcpiddev.clinicauandes.cl:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_PORTAL_WEB_115&amp;receiverParty=&amp;receiverService=&amp;interface=Si_os_GetEspecialidad&amp;interfaceNamespace=urn%3AClinicauandes.org.ish.GetEspecialidades" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>