PortalPrivado.DAO/Web References/WsGetBusqueda/Si_os_busqueda.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:p1="urn:Clinicauandes.org.GetBusquedapredic" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" name="Si_os_busqueda" targetNamespace="urn:Clinicauandes.org.GetBusquedapredic" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation />
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="OP_Si_os_busqueda" />
  <wsdl:types>
    <xsd:schema xmlns="urn:Clinicauandes.org.GetBusquedapredic" targetNamespace="urn:Clinicauandes.org.GetBusquedapredic" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="MT_fault">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="standard" type="p1:ExchangeFaultData" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="MT_Busqueda" type="p1:DT_Busqueda" />
      <xsd:element name="MT_r_Busqueda" type="p1:DT_r_Busqueda" />
      <xsd:complexType name="DT_r_Busqueda">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">5f7919f3e47411e99adf000000527bd2</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="Busqueda">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="IdBusqueda" type="xsd:string" />
                <xsd:element name="Glosa" type="xsd:string" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ExchangeLogData">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">bb03161fe47311e983ae000000527bd2</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" name="severity" type="xsd:string" />
          <xsd:element name="text" type="xsd:string" />
          <xsd:element minOccurs="0" name="url" type="xsd:string" />
          <xsd:element minOccurs="0" name="id" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ExchangeFaultData">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">8ad1c0e7e47311e9ca26000000527bd2</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="faultText" type="xsd:string" />
          <xsd:element minOccurs="0" name="faultUrl" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="faultDetail" type="p1:ExchangeLogData" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DT_Busqueda">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">80b7e0e4e47411e9c573000000527bd2</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="IdBusqueda" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MT_Busqueda">
    <wsdl:documentation />
    <wsdl:part name="MT_Busqueda" element="p1:MT_Busqueda" />
  </wsdl:message>
  <wsdl:message name="MT_r_Busqueda">
    <wsdl:documentation />
    <wsdl:part name="MT_r_Busqueda" element="p1:MT_r_Busqueda" />
  </wsdl:message>
  <wsdl:message name="MT_fault">
    <wsdl:documentation />
    <wsdl:part name="MT_fault" element="p1:MT_fault" />
  </wsdl:message>
  <wsdl:portType name="Si_os_busqueda">
    <wsdl:documentation />
    <wsdl:operation name="Si_os_busqueda">
      <wsdl:documentation />
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_Si_os_busqueda" />
      </wsp:Policy>
      <wsdl:input message="p1:MT_Busqueda" />
      <wsdl:output message="p1:MT_r_Busqueda" />
      <wsdl:fault name="MT_fault" message="p1:MT_fault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Si_os_busquedaBinding" type="p1:Si_os_busqueda">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="Si_os_busqueda">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
      <wsdl:fault name="MT_fault">
        <fault use="literal" name="MT_fault" namespace="" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Si_os_busquedaService">
    <wsdl:port name="HTTP_Port" binding="p1:Si_os_busquedaBinding">
      <address location="http://dcpiddev.clinicauandes.cl:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_PORTAL_WEB_115&amp;receiverParty=&amp;receiverService=&amp;interface=Si_os_busqueda&amp;interfaceNamespace=urn%3AClinicauandes.org.GetBusquedapredic" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
    <wsdl:port name="HTTPS_Port" binding="p1:Si_os_busquedaBinding">
      <address location="https://dcpiddev.clinicauandes.cl:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_PORTAL_WEB_115&amp;receiverParty=&amp;receiverService=&amp;interface=Si_os_busqueda&amp;interfaceNamespace=urn%3AClinicauandes.org.GetBusquedapredic" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>